.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  background-image: radial-gradient(transparent, black);
  box-shadow: inset 0px 0px 50px white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.item {
  font-size: clamp(1.5rem, 10svw, 3rem);
  background-color: transparent;
  color: white;
  padding: 0 0.2rem;
  text-shadow: 1px 1px 1px black;
  border: none;
  &:nth-child(17) {
    grid-column: 1/3;
    border-bottom-left-radius: 20px;
  }
  &:last-child {
    border-bottom-right-radius: 20px;
  }
}

#title {
  display: grid;
  padding-inline: 0.5rem;
  grid-template-rows: 1fr 1fr;
  color: white;
  & > span {
    display: grid;
    place-items: center end;
    font-size: clamp(2rem, 10svw, 4rem);
    &:first-child {
      opacity: 0.2;
    }
  }
}
